.login{
    background-color:  rgb(244, 246, 247);
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    
}
.login-form{
    margin-top: 55px;
}
.avatar{
    background-color: blue;
    align-items: center;
    margin-left: 117px;
    color: white;
}